<section class="hero-section">
    <div class="container hero-wrapper">
        <div class="hero-content">

            <h1 class="hero-title">
                ORGANIC VEGETABLES
                TO YOUR DIET
                TODAY!
            </h1>
            <p class="hero-text">
                <span>Our expertly curated vegetable baskets are made with the</span>
                <span>freshest, highest quality vegetables available. Fresh Harvest Box</span>
                <span>has got you covered. Fresh, high-quality vegetables in expertly</span>
                <span>curated vegetable baskets delivered to you.</span>
            </p>
        </div>
        <div class="hero-basket-image">
        </div>
    </div>
</section>

<section class="hero-steps-section">
    <div class="container hero-wrapper">
        <div class="hero-steps-image">
            <picture class="image-card-picture">
                <source media="(min-width: 1200px)" srcset="
                            ./img/webp/kitchen-woman.webp    1x,
                            ./img/webp/kitchen-woman@2x.webp 2x
                          " type="image/webp" />
                <source media="(min-width: 768px)" srcset="
                            ./img/webp/kitchen-woman-tab.webp    1x,
                            ./img/webp/kitchen-woman-tab@2x.webp 2x
                          " type="image/webp" />
                <source srcset="
                            ./img/webp/kitchen-woman-mob.webp    1x,
                            ./img/webp/kitchen-woman-mob@2x.webp 2x
                          " type="image/webp" />
                <img src="./img/webp/kitchen-woman-mob.webp" alt="Preparing make smoothie" />
            </picture>
        </div>
        <div class=" hero-steps-content-wrapper">
            <div class="hero-steps-content">
                <h2 class="hero-steps-title">
                    TO ORDER YOUR <span class="hero-color">VEGETABLE</span> BASKET, SIMPLY FOLLOW THESE <span
                        class="hero-color">EASY STEPS</span>

                </h2>

                <p class="hero-steps-text">
                    Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the
                    taste
                    of fresh fruit
                    without ever leaving your home.
                </p>
            </div>

            <div class="hero-steps-list-wrapper">
                <ol class="hero-steps-list">
                    <li class="hero-step">
                        <span class="hero-step-number"></span>
                        <p class="hero-list-text">Just choose <span class="hero-span-word">the vegetable</span> you
                            want to
                            order
                            by clicking on the
                            checkboxes <span class="hero-span-word">next to it.</span></p>
                    </li>
                    <li class="hero-step">
                        <span class="hero-step-number"></span>
                        <p class="hero-list-text">Click on <span class="hero-span-word">the basket</span> and fill
                            out the
                            form.
                        </p>
                    </li>
                    <li class="hero-step">
                        <span class="hero-step-number"></span>
                        <p class="hero-list-text">Sit back and relax! Your <span class="hero-span-word">fresh
                                vegetables</span>
                            basket will
                            delivered.
                        </p>
                    </li>
                </ol>
            </div>

        </div>
    </div>

</section>