<section id="vegetables" class="vegy-section">
    <div class="container">
        <div class="vegy-text-container">
            <h2 class="vegy-title">
                ORGANIC <span class="span-vegy-title">VEGETABLE</span>
            </h2>
            <p class="vegy-descr">
                Our organic vegetables are hand-picked from local farms and delivered straight to your
                doorstep, ensuring that you get the freshest and most nutritious produce possible.
            </p>
        </div>
        <div class="vegy-product-container">
            <ul class="vegy-product-list">
                <li class="vegy-item">
                    <h3 class="vegy-name">EGGPLANT</h3>
                    <p class="vegy-price">60 USD / kg</p>
                    <img class="vegy-image" src="./img/webp/eggplant-mob.webp" alt="eggplant" width="280"
                        height="240" />
                </li>
                <li class="vegy-item">
                    <h3 class="vegy-name">LEEK</h3>
                    <p class="vegy-price">50 USD / kg</p>
                    <img class="vegy-image" src="./img/webp/leek-mob.webp" alt="leek" width="280" height="240" />
                </li>
                <li class="vegy-item">
                    <h3 class="vegy-name">MUSHROOMS</h3>
                    <p class="vegy-price">40 USD / kg</p>
                    <img class="vegy-image" src="./img/webp/mushrooms-mob.webp" alt="mushrooms" width="280"
                        height="240" />
                </li>
                <li class="vegy-item">
                    <h3 class="vegy-name">CORN</h3>
                    <p class="vegy-price">60 USD / kg</p>
                    <img class="vegy-image" src="./img/webp/corn-mob.webp" alt="corn" width="280" height="240" />
                </li>
                <li class="vegy-item">
                    <h3 class="vegy-name">SWEET POTATOES</h3>
                    <p class="vegy-price">50 USD / kg</p>
                    <img class="vegy-image" src="./img/webp/sweet-potatoes-mob.webp" alt="sweet potatoes" width="280"
                        height="240" />
                </li>
                <li class="vegy-item">
                    <h3 class="vegy-name">CARROT</h3>
                    <p class="vegy-price">40 USD / kg</p>
                    <img class="vegy-image" src="./img/webp/carrot-mob.webp" alt="carrot" width="280" height="240" />
                </li>
            </ul>
        </div>
    </div>
</section>