<section class="your-order-section">
  <div class="container">
    <div class="your-order-container">
      <h2 class="your-order-title">
        FRESH <span>HARVEST</span> BOX HAS GOT YOU COVERED
      </h2>
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="your-order-wrapper">
      <div class="your-order-content">
        <h3 class="form-title">
          ORDERING <span class="accent-brand">FROM US</span> IS QUICK AND EASY!
          FILL OUT <span class="accent-green">THE FORM</span> BELOW AND WE WILL
          CONTACT YOU!
        </h3>
        <form class="order-form">
          <div class="form-input-wrapper">
            <input type="text" name="user-name" placeholder="Full Name" required />
            <input type="email" name="user-email" placeholder="Email" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="email-input" />
            <textarea name="user-comment" placeholder="Comment" required></textarea>
          </div>
          <button type="submit" class="order-send-btn">SEND</button>
        </form>
      </div>

      <div class="order-image-card">
        <div class="image-card">
          <picture class="image-card-picture">
            <source media="(min-width: 1200px)" srcset="
                ./img/webp/make-lemon-smoothie.webp    1x,
                ./img/webp/make-lemon-smoothie@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                ./img/webp/make-lemon-smoothie-tab.webp    1x,
                ./img/webp/make-lemon-smoothie-tab@2x.webp 2x
              " type="image/webp" />
            <source srcset="
                ./img/webp/make-lemon-smoothie-mob.webp    1x,
                ./img/webp/make-lemon-smoothie-mob@2x.webp 2x
              " type="image/webp" />
            <img src="./img/webp/make-lemon-smoothie-mob.webp" alt="Preparing juice" />
          </picture>
        </div>

        <p class="social-text">Follow us on our social networks:</p>
        <ul class="order-social-links">
          <li>
            <a href="https://www.instagram.com/goit.turkiye/" target="_blank">INSTAGRAM</a>
          </li>
          <li>/</li>
          <li>
            <a href="https://www.facebook.com/people/GOIT-Türkiye/61558036560161/" target="_blank">FACEBOOK</a>
          </li>
          <li>/</li>
          <li>
            <a href="https://m.youtube.com/@GoITTurkey" target="_blank">YOUTUBE</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>