.advert-section {
  background-color: var(--white);
  padding: 40px 20px;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.advert-discount-text {
  font-weight: 600;
  font-size: 48px;
  color: var(--black);
  line-height: 52px;
  margin: 0;
  text-align: left;
  letter-spacing: -0.04em;
}

.span-advert-text {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 4px 12px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 38px;
}

@media (min-width: 768px) {
  .advert-section {
    padding: 100px 32px;
    display: flex;
    justify-content: flex-start;
  }

  .advert-content {
    max-width: 700px;
  }

  .discount-text {
    font-size: 64px;
    line-height: 1.09;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .span-advert-text {
    font-size: 64px;
    padding: 4px 16px;
    margin-bottom: 12px;
    border-radius: 12px;
  }
}

@media (min-width: 1200px) {
  .advert-section {
    padding: 100px;
    display: flex;
    justify-content: center;
  }

  .advert-content {
    max-width: 1240px;
    width: 100%;
  }

  .discount-text {
    font-size: 76px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .span-advert-text {
    font-size: 76px;
    padding: 8px 24px;
    margin-right: 15px;
    margin-bottom: 0;
    border-radius: 16px;
    vertical-align: middle;
  }
}
