.footer {
  background-color: var(--primary-brand);
  color: var(--white);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}

.footer-logo-panel {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: var(--white);
}

.footer-logo-text {
  width: 146px;
  height: 12px;
  fill: var(--white);
}

.mob-logo {
  display: block;
}
.desk-logo {
  display: none;
}

.footer-desc {
  margin-top: 14px;
  max-width: 265px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}

.footer-nav a {
  display: block;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: var(--white);
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-item {
  margin-bottom: 14px;
}

.footer-nav-item:last-child {
  margin-bottom: 0;
}

.footer-phone {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  text-align: left;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-address {
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  max-width: 179px;
}

.footer-bottom {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--accent-color);
}

.footer-links {
  display: flex;
  gap: 8px;
}

.footer-links a {
  color: var(--accent-color);
  text-decoration: none;
}

.footer-copy {
  margin-top: 16px;
}

.footer-brand {
  margin-bottom: 40px;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-contact {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
}

.footer-copyright {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer-brand {
    max-width: 300px;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .footer-nav {
    margin-bottom: 40px;
  }
  .footer-nav,
  .footer-contact {
    text-align: left;
  }

  .footer-nav {
    margin-bottom: 40px;
  }

  .footer-contact {
    margin-bottom: 0;
  }

  .footer-desc {
    margin-top: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .footer-bottom {
    width: 100%;
    margin-top: 80px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-copy {
    margin-top: 0;
  }

  .mob-logo {
    display: none;
  }
  .desk-logo {
    display: block;
  }
  .footer-logo-text {
    width: 187px;
    height: 17px;
    transform: translateZ(0);
  }
}

@media (min-width: 1200px) {
  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer-right {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    justify-items: flex-end;
    gap: 60px;
  }
  .footer-brand {
    max-width: 265px;
  }
  .footer-nav {
    margin-right: 121px;
  }

  .footer-contact {
    text-align: right;
    margin-left: auto;
  }
  .footer-nav-item {
    margin-bottom: 24px;
  }

  .footer-nav a {
    font-size: 32px;
  }
  .footer-bottom {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copy {
    margin-top: 0;
  }
  .footer-brand,
  .footer-nav,
  .footer-contact {
    margin-bottom: 0;
  }

  .footer-inner {
    align-items: flex-start;
  }
}
