.hero-section .container {
  padding: 0;
}

.hero-section {
  background-color: var(--primary-color);
}

.hero-content {
  padding: 100px 20px 40px;
}

.hero-title {
  font-size: 52px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.015em;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.hero-basket-image {
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
    url('../img/webp/hero-basket-mob.webp');
  background-image: -webkit-image-set(
    url('../img/webp/hero-basket-mob.webp') 1x,
    url('../img/webp/hero-basket-mob@2x.webp') 2x
  );
  width: 100%;
  height: 375px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-steps-section {
  background-color: var(--primary-color);
}

.hero-steps-section .container {
  padding: 0;
}

.hero-steps-image {
  background-color: var(--primary-brand);
  padding: 40px 20px;
}

.image-card-picture img {
  border-radius: 30px;
}

.hero-steps-content-wrapper {
  background-color: var(--primary-color);
  padding: 80px 20px;
}

.hero-steps-title {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.015em;
  margin-bottom: 20px;
}

.hero-steps-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.hero-steps-list {
  counter-reset: hero-counter;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-step {
  counter-increment: hero-counter;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding: 12px 27px 12px 24px;
  border-radius: 15px;
  background-color: var(--white);
}

.hero-step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
  background-color: var(--primary-brand);
  width: 52px;
  height: 52px;
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
}

.hero-step-number::before {
  content: counter(hero-counter);
}

.hero-color {
  color: var(--accent-color);
}

.hero-list-text {
  color: var(--details-grey);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.hero-span-word {
  color: var(--black);
  font-weight: 700;
}

@media (min-width: 768px) {
  .hero-section .container {
    padding: 0;
  }

  .hero-content {
    padding: 120px 32px 52px;
  }

  .hero-title {
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -0.015em;
    margin-bottom: 24px;
  }

  .hero-text {
    font-size: 16px;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-basket-image {
    background-image:
      linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url('../img/webp/hero-basket-tab.webp');
    background-image: -webkit-image-set(
      url('../img/webp/hero-basket-tab.webp') 1x,
      url('../img/webp/hero-basket-tab@2x.webp') 2x
    );
    background-repeat: no-repeat;
    background-size: cover;

    width: 768px;
    height: 536px;
  }

  .hero-steps-image {
    background-color: var(--primary-brand);
    padding: 100px 64px;
  }

  .hero-steps-content-wrapper {
    background-color: var(--primary-color);
    padding: 100px 164px;
  }

  .hero-steps-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .hero-steps-text {
    font-size: 16px;
  }

  .hero-steps-list {
    margin-top: 52px;

    gap: 24px;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    background-color: var(--primary-color);
  }

  .hero-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 232px 38px 52px 100px;
    width: 640px;
  }

  .hero-title {
    font-size: 76px;
    line-height: 76px;
    font-weight: 600;
    letter-spacing: -0.015em;
  }
  .hero-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-right: 32px;
  }

  .hero-text span {
    display: block;
  }

  .hero-basket-image {
    background-image:
      linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url('../img/webp/hero-basket.webp');
    background-image: -webkit-image-set(
      url('../img/webp/hero-basket.webp') 1x,
      url('../img/webp/hero-basket@2x.webp') 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    width: 640px;
    height: 796px;
  }

  .hero-steps-section {
    background-color: var(--primary-color);
  }

  .hero-steps-image {
    background-color: var(--primary-brand);
    padding: 100px;
  }

  .image-card-picture img {
    border-radius: 30px;
  }

  .hero-steps-section .container {
    padding: 0;
  }

  .hero-steps-content-wrapper {
    background-color: var(--primary-color);
    padding: 100px 100px 100px 100px;
    flex: 1;
  }

  .hero-steps-title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.015em;
    margin-bottom: 24px;
  }

  .hero-steps-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .hero-steps-list {
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .hero-step {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 12px 27px 12px 24px;
    border-radius: 15px;
    background-color: var(--white);
  }

  .hero-step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--primary-brand);
    width: 52px;
    height: 52px;
    border: 5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
  }

  .hero-color {
    color: var(--accent-color);
  }

  .hero-list-text {
    color: var(--details-grey);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  .hero-span-word {
    color: var(--black);
    font-weight: 700;
  }
}
