.burger-icon,
.close-icon {
  cursor: pointer;
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(20, 25, 20, 0);
  display: flex;
  justify-content: flex-end;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.mobile-menu-content {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: all;
  position: relative;
}

.menu-checkbox:checked ~ .burger-open {
  display: none;
}

.menu-checkbox:checked ~ .mobile-menu-wrapper {
  visibility: visible;
  opacity: 1;
  background-color: var(--transparent-black);
  pointer-events: all;
}

.menu-checkbox:checked ~ .mobile-menu-wrapper .mobile-menu-content {
  transform: translateX(0);
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 232px;
  margin-top: 296px;
}

.mobile-menu-item {
  padding: 12px 18px;
  border: 1px solid var(--white);
  border-radius: 12px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.mobile-menu-item:hover {
  background-color: var(--white);
  color: var(--primary-brand);
}

.active {
  background-color: var(--white);
}

.active .mobile-menu-link {
  color: var(--primary-brand);
}

.menu-shop-button {
  padding: 16px 32px;
  background-color: var(--primary-brand);
  border-radius: 30px;
  color: var(--white);
  cursor: pointer;
  margin-bottom: 52px;
}

.menu-shop-button:hover {
  background-color: var(--white);

  color: var(--primary-brand);
}

@media (min-width: 768px) {
  .mobile-menu-content {
    width: 351px;
  }

  .close-icon {
    top: 32px;
    right: 32px;
  }
}

@media (min-width: 1200px) {
  .burger-icon {
    display: none;
  }
}
