/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Common styles */
@import 'modern-normalize';
@import './base.css'; /* Genel body, font ve renk tanımları */
@import './container.css'; /* Sayfa genişliğini (max-width) belirler */

/* Sections style */
@import './header.css'; /* Header & Mobile Menu */
@import './hero.css'; /* Giriş Alanı */
@import './advertisement.css'; /* Tanıtım / Banner */
@import './vegetables.css'; /* Ürün Listesi */
@import './reviews.css'; /* Müşteri Yorumları */
@import './your-order.css'; /* Sipariş Formu */
@import './mobile-menu.css'; /* Mobile-Menu */
@import './footer.css'; /* Alt Bilgi */
