.your-order-section {
  font-family: var(--font-main);
  background-color: var(--primary-color);
  padding: 80px 0;
  color: var(--white);
  width: 100%;
}

.your-order-container {
  display: flex;
  flex-direction: column;
  max-width: 335px;
}

.your-order-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  text-align: left;
  display: block;
  padding-bottom: 20px;
}

.your-order-title span {
  color: var(--accent-color);
}

.your-order-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white);
  text-align: left;
  padding-bottom: 40px;
  width: 100%;
}

.your-order-content {
  background-color: var(--white);
  color: var(--black);
  width: 335px;
  height: 552px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 40px;
}

.form-title {
  text-transform: uppercase;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  width: 100%;
}

.form-title .accent-brand {
  color: var(--primary-brand);
}
.form-title .accent-green {
  color: var(--primary-color);
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form input,
.order-form textarea {
  width: 100%;
  padding: 14px 18px;
  border: 1px solid var(--transparent-black);
  border-radius: 100px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  background: transparent;
  color: var(--black);
}

.order-form textarea {
  border-radius: 15px;
  height: 100px;
  resize: none;
}

.order-form input::placeholder,
.order-form textarea::placeholder {
  color: var(--black);
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order-send-btn {
  background-color: var(--primary-brand);
  color: var(--white);
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity var(--transition);
}

.order-image-card {
  background-color: var(--primary-brand);
  padding: 40px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 456px;
  gap: 20px;
  margin-top: 20px;
}

.social-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--accent-color);
}

.order-social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.order-social-links a,
.order-social-links .separator {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.015em;
  color: var(--white);
  text-transform: uppercase;
}

.image-card img {
  width: 295px;
  height: 272px;
}

@media (min-width: 768px) {
  .your-order-container {
    max-width: 640px;
  }

  .your-order-title {
    font-size: 64px;
    line-height: 64px;
    max-width: 704px;
  }

  .your-order-text {
    font-size: 16px;
  }

  .your-order-content {
    margin: 0 auto;
    width: 640px;
    height: 632px;
    padding: 72px 100px;
    gap: 10px;
    margin-bottom: 32px;
  }

  .form-title {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 52px;
    letter-spacing: -0.015em;
  }

  .order-send-btn {
    margin-top: 24px;
    padding: 16px 191px;
  }

  .order-image-card {
    margin: 0 auto;
    width: 640px;
    height: 528px;
    border-radius: 30px;
    padding: 52px;
  }

  .image-card img {
    width: 536px;
    height: 316px;
    border-radius: 15px;
  }

  .social-text {
    font-size: 16px;
    line-height: 20px;
    padding-top: 32px;
  }

  .order-social-links {
    gap: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .your-order-container {
    max-width: 751px;
  }

  .your-order-wrapper {
    display: flex;
    gap: 32px;
    align-items: flex-start;
  }

  .your-order-content {
    width: 524px;
    height: 592px;
    padding: 52px 48px;
  }

  .order-image-card {
    width: 524px;
    height: 592px;
    padding: 52px 48px;
  }

  .image-card img {
    width: 428px;
    height: 352px;
    border-radius: 15px;
  }

  .social-text {
    padding-top: 48px;
  }
}

.order-form input:focus,
.order-form textarea:focus {
  border-color: var(--error-state);
}

.order-form input:not(:placeholder-shown):invalid {
  border-color: var(--error-state);
}

.order-form textarea:not(:placeholder-shown):invalid {
  border-color: var(--error-state);
}

.order-form input:not(:placeholder-shown):valid {
  border-color: var(--success-state);
}

.order-form textarea:not(:placeholder-shown):valid {
  border-color: var(--success-state);
}
